ANTHROPIC_API_KEY=
FAL_KEY=
GMAIL_IMPERSONATED_USER=images@lafamilia.so
GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./service-account.json
ALLOWLIST=teammate1@example.com,teammate2@example.com
POLL_INTERVAL_SECONDS=15
